@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<footer class="bg-dark text-white mt-4 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About us</h5>
                <p>
                    At Mesh-Amazon, we strive to provide our customers with the best possible online shopping experience. We offer a wide range of products, from electronics and appliances to fashion and beauty items. Our user-friendly website is designed to make it easy for you to find what you're looking for and complete your purchase quickly and securely.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled">
                    <li><a asp-action="Index" asp-controller="Home" asp-area="" class="text-white">Home</a></li>
                    <li><a asp-action="Index" asp-controller="Products" asp-area="CustomerPanel" class="text-white">Shop</a></li>
                    <li><a href="#" class="text-white">Contact</a></li>
                    <li><a href="#" class="text-white">Terms and conditions</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-white">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                &copy; 2023 E-commerce. All rights reserved.
            </div>
        </div>
    </div>
</footer>