@model FinalProjectMVC.Areas.SellerPanel.ViewModel.AddProductViewModel

@{
ViewData["Title"] = "Add New Product";
}

<h1>Add New Product</h1>
<hr />
<div class="row">
    <form class="row" asp-action="Create" enctype="multipart/form-data">
        <div class="col-md-6">

            <input hidden asp-for="SellerID" class="form-control" />

            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubCategoryId" class="control-label"></label>
                <select asp-for="SubCategoryId" class="form-control" asp-items="Model.SubCategories"></select>
            </div>

            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-items="Model.Brands" asp-for="BrandId" class="form-control"></select>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            <div>
                <a asp-action="Index" class="btn btn-secondary mt-2">Back to List</a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="formFile" class="control-label"></label>
                <input asp-for="formFile" class="form-control" onchange="previewImage(this)" accept="image/*" />
                <span asp-validation-for="formFile" class="text-danger"></span>
                <br />
                <img id="preview" src="#" alt="Image Preview" style="display:none;width:200px;" />
            </div>

            
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        
    </form>
</div>



<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
                $('#preview').show();
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}