@model FinalProjectMVC.Areas.AdminPanel.ViewModel.AdminStatsViewModel

@{
    ViewData["Title"] = "Admin Dashboard";
}


<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6 col-6">

                <div class="small-box bg-info">
                    <div class="inner">

                        <h3>@Model.NewOrders</h3>
                        <p>New Orders</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-6">

                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@Model.Customers</h3>
                        <p>Customers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-stalker"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-6">

                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>@Model.Sellers</h3>
                        <p>Sellers</p>
                    </div>
                    <div class="icon">

                        <i class="ion ion-person"></i>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-6">

                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@Model.NewProducts</h3>
                        <p>Products</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pricetag"></i>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>

