
﻿@{
    Layout = null;
}

@model FinalProjectMVC.Models.Review

<div class="container py-5">
    <h3 class="fw-bold mb-4">Reviews</h3>

    <div class="row">
        <div class="col-lg-12 mb-3">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-body">

                    @*add query to get customer name*@
                    <h5 class="card-title">mohamed</h5>

                    <textarea class="card-text w-100 rounded"></textarea>
                    <button class="btn btn-success">Submit</button>
                    <button class="btn btn-secondary">Cancel</button>

                    <p class="card-text"><small class="text-muted">@DateTime.Now</small></p>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#reportModal" data-review-id="5">Report</button>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

