@using FinalProjectMVC.Areas.AdminPanel.Models;
@{
    ViewData["Title"] = "Home Page";
    List<Category> Categoires = ViewBag.Categories;

    List<Brand> Brands = ViewBag.Brands;
}


@section Header {
    <div class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to `Mesh`Amazon</p>

                <img src="~/WebsiteLogo/meshAmazonLogo-yellow.png" style="width: 200px; height: 200px;" />


            </div>
        </div>
    </div>
}
@*background-image: url("https://via.placeholder.com/400x300/3498DB/FFFFFF?text=Electronics");*@
@{
    string UrlPath = "https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/C0DBF8AC-DB0E-4621-96C05D3B6E366D02/E142C7C6-62EF-4320-A6C2DB6EB2B3F4E1/WebsiteJpg_XL-FELEC_Main%20Visual_Purple_Website.jpg";
}
<h1 class="text-center m-5">Shop by Category</h1>
<div class="row">
    @foreach (var Category in Categoires)
    {
        <div class="col-md-4">
            <div class="card" style="background-image: url(@UrlPath)">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h2 class="text-center text-white">@Category.Name</h2>
                </div>
            </div>
        </div>
    }
</div>

<h1 class="text-center m-5">Shop by Brand</h1>
<div class="row">
    @foreach (var Brand in Brands)
    {
        <div class="col-md-4 mb-2">
            <div class="card" style="background-image: url(@UrlPath)">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h2 class="text-center text-white">@Brand.Name</h2>
                </div>
            </div>
        </div>
    }
</div>